{{#with controllers.event}}

<div class="page-header">
    <h1>事项</h1>
</div>

<dl class="dl-horizontal">
    <dt><strong>标题:</strong></dt>
    <dd>{{title}}</dd>
    <dt><strong>状态:</strong></dt>
    <dd>{{statusDesc}}</dd>
</dl>
{{/with}}
{{#linkTo 'events' class='btn' tagName='button'}}返回{{/linkTo}}
