<div class="control-group">
    <label class="control-label">名称</label>

    <div class="controls">
        {{view Ember.TextField valueBinding="title"}}
    </div>
</div>
<div class="control-group">
    <label class="control-label">状态</label>

    <div class="controls">
        {{view Ember.TextField valueBinding="status"}}
    </div>
</div>