<form {{action save on="submit"}} class='form-horizontal'>
{{partial "events/form"}}

<div class="form-actions">
    {{submitButton '保存'}}
    <button class="btn" {{action cancel}}>取消</button>
</div>
</form>
